/* line 90, ../../../app/assets/stylesheets/sass/mixins.sass */
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
}

/* line 7, ../../../app/assets/stylesheets/sass/rankey.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 22, ../../../app/assets/stylesheets/sass/rankey.sass */
body {
  line-height: 1;
}

/* line 24, ../../../app/assets/stylesheets/sass/rankey.sass */
ol, ul {
  list-style: none;
}

/* line 26, ../../../app/assets/stylesheets/sass/rankey.sass */
table {
  border-spacing: 0;
}

/* line 29, ../../../app/assets/stylesheets/sass/rankey.sass */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 31, ../../../app/assets/stylesheets/sass/rankey.sass */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 33, ../../../app/assets/stylesheets/sass/rankey.sass */
a img {
  border: none;
}

/* line 114, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 63, ../../../app/assets/stylesheets/sass/rankey.sass */
table {
  width: 100%;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -o-border-radius: 12px;
  -ms-border-radius: 12px;
  -khtml-border-radius: 12px;
  border-radius: 12px;
  border: 2px solid #94a9ae;
}
/* line 2, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/tables/_scaffolding.scss */
table th {
  text-align: center;
  font-weight: bold;
}
/* line 6, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/tables/_scaffolding.scss */
table td,
table th {
  padding: 2px;
}
/* line 8, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/tables/_scaffolding.scss */
table td.numeric,
table th.numeric {
  text-align: right;
}
/* line 53, ../../../app/assets/stylesheets/sass/rankey.sass */
table th:first-child {
  -moz-border-radius-topleft: 12px;
  -webkit-border-top-left-radius: 12px;
  -o-border-top-left-radius: 12px;
  -ms-border-top-left-radius: 12px;
  -khtml-border-top-left-radius: 12px;
  border-top-left-radius: 12px;
}
/* line 55, ../../../app/assets/stylesheets/sass/rankey.sass */
table th:last-child {
  -moz-border-radius-topright: 12px;
  -webkit-border-top-right-radius: 12px;
  -o-border-top-right-radius: 12px;
  -ms-border-top-right-radius: 12px;
  -khtml-border-top-right-radius: 12px;
  border-top-right-radius: 12px;
}
/* line 57, ../../../app/assets/stylesheets/sass/rankey.sass */
table tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 12px;
  -webkit-border-bottom-left-radius: 12px;
  -o-border-bottom-left-radius: 12px;
  -ms-border-bottom-left-radius: 12px;
  -khtml-border-bottom-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
/* line 59, ../../../app/assets/stylesheets/sass/rankey.sass */
table tr:last-child td:last-child {
  -moz-border-radius-bottomright: 12px;
  -webkit-border-bottom-right-radius: 12px;
  -o-border-bottom-right-radius: 12px;
  -ms-border-bottom-right-radius: 12px;
  -khtml-border-bottom-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
/* line 70, ../../../app/assets/stylesheets/sass/rankey.sass */
table thead tr {
  background: #dce3e5;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(50%, #dce3e5), color-stop(100%, #bfcccf));
  background-image: -webkit-linear-gradient(#ffffff, #dce3e5, #bfcccf);
  background-image: -moz-linear-gradient(#ffffff, #dce3e5, #bfcccf);
  background-image: -o-linear-gradient(#ffffff, #dce3e5, #bfcccf);
  background-image: -ms-linear-gradient(#ffffff, #dce3e5, #bfcccf);
  background-image: linear-gradient(#ffffff, #dce3e5, #bfcccf);
}
/* line 74, ../../../app/assets/stylesheets/sass/rankey.sass */
table thead tr th {
  text-align: left;
  font-size: 0.8em;
}
/* line 77, ../../../app/assets/stylesheets/sass/rankey.sass */
table tr {
  background: #ebeff0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dae1e3));
  background-image: -webkit-linear-gradient(#ffffff, #dae1e3);
  background-image: -moz-linear-gradient(#ffffff, #dae1e3);
  background-image: -o-linear-gradient(#ffffff, #dae1e3);
  background-image: -ms-linear-gradient(#ffffff, #dae1e3);
  background-image: linear-gradient(#ffffff, #dae1e3);
}
/* line 80, ../../../app/assets/stylesheets/sass/rankey.sass */
table tr.odd {
  background: #e2e7e9;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #bfc8cf));
  background-image: -webkit-linear-gradient(#ffffff, #bfc8cf);
  background-image: -moz-linear-gradient(#ffffff, #bfc8cf);
  background-image: -o-linear-gradient(#ffffff, #bfc8cf);
  background-image: -ms-linear-gradient(#ffffff, #bfc8cf);
  background-image: linear-gradient(#ffffff, #bfc8cf);
}
/* line 84, ../../../app/assets/stylesheets/sass/rankey.sass */
table tbody tr {
  cursor: pointer;
}
/* line 86, ../../../app/assets/stylesheets/sass/rankey.sass */
table tbody tr:hover {
  background: #dadfe3;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #a2b9a7));
  background-image: -webkit-linear-gradient(#ffffff, #a2b9a7);
  background-image: -moz-linear-gradient(#ffffff, #a2b9a7);
  background-image: -o-linear-gradient(#ffffff, #a2b9a7);
  background-image: -ms-linear-gradient(#ffffff, #a2b9a7);
  background-image: linear-gradient(#ffffff, #a2b9a7);
}

/* line 90, ../../../app/assets/stylesheets/sass/rankey.sass */
.sites {
  display: block;
}

@font-face {
  font-family: "Nova Square";
  src: url('/fonts/nova_square.ttf') format('truetype'), url('/fonts/nova_square.otf') format('opentype');
}

/* line 110, ../../../app/assets/stylesheets/sass/rankey.sass */
html, body {
  height: 100%;
}

/* line 113, ../../../app/assets/stylesheets/sass/rankey.sass */
body {
  background: #dddddd;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dae1e3), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(#dae1e3, #ffffff);
  background-image: -moz-linear-gradient(#dae1e3, #ffffff);
  background-image: -o-linear-gradient(#dae1e3, #ffffff);
  background-image: -ms-linear-gradient(#dae1e3, #ffffff);
  background-image: linear-gradient(#dae1e3, #ffffff);
  font-family: sans-serif, Helvetica, Arial, Verdana;
  color: #222222;
  font-size: 120%;
  height: 100%;
}

/* line 121, ../../../app/assets/stylesheets/sass/rankey.sass */
a {
  color: #444444;
}
/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #555555;
}

/* line 125, ../../../app/assets/stylesheets/sass/rankey.sass */
input {
  padding: 4px 6px;
  width: 300px;
  font-size: 1.15em;
  margin: 6px 0 12px;
  display: block;
}

/* line 131, ../../../app/assets/stylesheets/sass/rankey.sass */
input[type='submit'], input.submit {
  width: auto;
}

/* line 135, ../../../app/assets/stylesheets/sass/rankey.sass */
input[type='submit'], input.submit, a.button, nav a {
  display: inline-block;
  padding: 0.1em 1em 0.12em;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 1.3em;
  -webkit-border-radius: ".5em";
  -moz-border-radius: ".5em";
  border-radius: ".5em";
  border: solid 1px #cccccc;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  border: solid 1px #586f75;
  background-color: #5e777e;
  background: -webkit-gradient(linear, left top, left bottom, from(#7f999f), to(#5e777e));
  background: -moz-linear-gradient(top, #7f999f, #5e777e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7f999f', endColorstr='#5e777e');
  color: #eef1f2;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  font-size: 0.8em;
  padding: 4px 8px;
}
/* line 108, ../../../app/assets/stylesheets/sass/mixins.sass */
input[type='submit']:hover, input.submit:hover, a.button:hover, nav a:hover {
  text-decoration: none;
}
/* line 110, ../../../app/assets/stylesheets/sass/mixins.sass */
input[type='submit']:active, input.submit:active, a.button:active, nav a:active {
  position: relative;
  top: 1px;
}
/* line 79, ../../../app/assets/stylesheets/sass/mixins.sass */
input[type='submit']:hover, input.submit:hover, a.button:hover, nav a:hover {
  background-color: #536a6f;
  background: -webkit-gradient(linear, left top, left bottom, from(#769299), to(#536a6f));
  background: -moz-linear-gradient(top, #769299, #536a6f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#769299', endColorstr='#536a6f');
}
/* line 81, ../../../app/assets/stylesheets/sass/mixins.sass */
input[type='submit']:active, input.submit:active, a.button:active, nav a:active {
  background-color: #769299;
  background: -webkit-gradient(linear, left top, left bottom, from(#5e777e), to(#769299));
  background: -moz-linear-gradient(top, #5e777e, #769299);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5e777e', endColorstr='#769299');
  color: #ced6d8;
}

/* line 141, ../../../app/assets/stylesheets/sass/rankey.sass */
input[type='submit']:hover, input.submit:hover, a.button:hover, nav a:hover {
  color: #dddddd;
}

/* line 144, ../../../app/assets/stylesheets/sass/rankey.sass */
h1, h2 {
  font-family: Nova Square;
  font-weight: bold;
}

/* line 148, ../../../app/assets/stylesheets/sass/rankey.sass */
h1 {
  padding: 10px;
  font-size: 1.7em;
}

/* line 152, ../../../app/assets/stylesheets/sass/rankey.sass */
h2 {
  padding: 9px 0;
  font-size: 1.5em;
}

/* line 158, ../../../app/assets/stylesheets/sass/rankey.sass */
#rankey {
  padding: 10px;
}

/* line 161, ../../../app/assets/stylesheets/sass/rankey.sass */
nav {
  margin: 0 0 10px 10px;
}

/* line 164, ../../../app/assets/stylesheets/sass/rankey.sass */
#content {
  margin: 0 10px;
}

/* line 168, ../../../app/assets/stylesheets/sass/rankey.sass */
table th, table td {
  padding: 8px;
}
