%script{ type: "text/template", id: "rankeyView" }
  :plain
    %div
      .loading
      #content

%script{ type: "text/template", id: "keysView" }<
  :plain
    %div

%script{ type: "text/template", id: "keyView" }<
  :plain
    %div

%script{ type: "text/template", id: "siteView" }<
  :plain
    %div
      %h2= name
      %p positioneds
      %p totals 
  
%script{ type: "text/template", id: "siteRow" }<
  :plain
    %td [sparkline] \#{name}
    %td num
    %td num

%script{ type: "text/template", id: "sitesView" }<
  :plain
    %table{ cellspacing: 0 }
      %thead
        %tr
          %th name
          %th positioneds
          %th totals
      %tbody.sitesList