%script{ type: "text/template", id: "loggedView" }
  :plain
    %div
      .userDetails
      %a.btn.logout{ href: "javascript:void(0)", data-url: "logout" } Logout



%script{ type: "text/template", id: "loginView" }
  :plain
    .page
      %h2 Login
      .cont
        %form.login{ method: "post" }
          username:
          %input{ type: "text", name: "username" }
          password:
          %input{ type: "password", name: "password" }
          %input{ type: "submit", value: "Login" }
      .foot